HOST_ORCL='172.24.247.124'
USER_ORCL='lmsmoodle'
PASS_ORCL='q12WSx'
PORT_ORCL='1521'
SSID_ORCL='SOFIA_dg_ro.bogrodclientpri.bognoprodexa1.oraclevcn.com'
 
HOST_PG='127.0.0.1'
USER_PG='postgres'
PASS_PG='KXena12345@@'
PORT_PG='5432'
SSID_PG='prueba_enrolamientos'